{% extends "index.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h4 class="text-center mb-4">Add New Position</h4>

        <form action="{{ url_for('add_position') }}" method="post" enctype="multipart/form-data">

          <div class="mb-3">
                <input type="text" name="position_name" class="form-control" placeholder="Position name" required>
          </div>
          <div class="mb-3">
                <input type="text" name="position_price" class="form-control" placeholder="Price" required>
          </div>
          <div class="mb-3">
                <input type="text" name="position_description" class="form-control" placeholder="Description" required>
          </div>
          <div class="mb-3">
                <input type="file" name="image" class="form-control" accept="image/*" required>
          </div>
          <div class="d-grid">
                <button type="submit" class="btn btn-outline-light">Add Position</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
