<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please Register</title>
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set category, message = messages[0] %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endif %}
    {%endwith%}

    <h2>Please register to use our website (Enter your login, email, then password, then click Submit)</h2>
    <form action="/register" method="post">

        <input type="text" name="nickname" placeholder="Nickname">
        <input type="password" name="password" placeholder="Password">
        <input type="email" name="email" placeholder="email">

        <input type="submit" name="submit">
    </form>

</body>
</html>